[Unit]
Description=Lawn Cam

[Service]
User=pi
Type=simple
ExecStart=/home/pi/lawncam.sh
TimeoutSec=30
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
